# Environments
.svef/
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Data (Ignore all except demo data)
data/raw/
data/interim/
data/processed/
!data/demo/

# Reports, Notebooks & Docs
# Keep the directory but ignore generated assets
docs/*_files/
docs/*.html

# Ignore all figures by default
reports/figures/*.png
notebooks/*.png

# Ignore notebooks by default, then whitelist specific ones
notebooks/*.ipynb
!notebooks/Midterm_Presentation.ipynb
!notebooks/SVEF_Transparent_Bridge.ipynb

# Office/Temp files
*.xlsx
*.pdf
~$*
script_*.py
